* {
    transition: 0.5s;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /* border: 2px solid rgba(0,0,0, 0.25); */
}

.header {
    width: 80%;
    height: 30vh;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border: 5px solid grey;
    background-color: var(--radio-color);
    color: grey;
    text-align: center;
}

#search-bar{
    margin: auto;
    display: grid;
    border: 4px solid grey;
    text-align: center;
    height: 30%;
    width: 50%;
    font-size: 25px;
}

#search-bar-btn {
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 10px;
    width: 20%;
    height: 20%;
    font-size: 20px;
}

#search-bar-btn:hover{
    background-color: bisque;
}

.display-movies {
    /* width: fit-content; */
    /* block-size: fit-content; */
    margin: auto;
    display: flex;
    border : 5px solid grey;
    flex-direction:row;
    width: 70%;
    justify-content: space-evenly;
    flex-wrap: wrap;
    /* grid-template-columns: repeat(2, 1fr); */
}

input[type = "radio"] {
    appearance: none;
    height : 1.5rem;
    width: 1.5rem;
    border: 2px solid;
    border-radius: 50%;
    
}
input[type = "radio"]:checked {
    /* appearance: none;x */
    background-color: var(--radio-color);
    color: var(--radio-color);
}

#blue{
    --radio-color:#49E2F3;
    --text-color:#e0e0e0;
}

#babyPink {
    --radio-color: #D773E6;
}

#orange {
    --radio-color:#73D576;
}
#dark {
    --radio-color:rgb(32,42,68);
}
#light {
    --radio-color: #FF9999;
    --text-color: white;
}
:root:has(#babyPink:checked){
    background-color: #D773E6;
}
:root:has(#light:checked) {
    background-color: #FF9999;
}
:root:has(#orange:checked) {
    background-color: #73D576;
}
:root:has(#blue:checked) {
    background-color: #49E2F3;
}
:root:has(#dark:checked) {
    background-color: black;
    color:var(--text-color);
}

.color-changer {
    background-color: white;
    border: none;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.form-control {
    border: none;
    width: fit-content;
    margin: auto;
}